# Swipe variables

In [1]:
x = 10
y = 12

x = x + y
y = x - y
x = x - y

print(x)
print(y)

12
10

# Even or Odd

In [2]:
x = int(input())

if x%2 == 0:
    print(x, "x is an even number")
else:
    print(x, "x is an odd number")

 8

8 x is an even number

# Reverse String

In [3]:
x = input("input: ")

for i in x:
    i = x[::-1]
    print(i)
    break

input:  Leon Scott Kennedy

ydenneK ttocS noeL

# Type Conversion:

In [4]:
interger_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in interger_list:
    conv = str(i)
    print(conv, type(conv))

0 <class 'str'>
1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
7 <class 'str'>
8 <class 'str'>
9 <class 'str'>

# Temperature Converter

In [5]:

def cel_to_fahr(temperature_celcius):
    fahrenheit = (temperature_celcius * 9/5) + 32
    return fahrenheit

temperature_celcius = int(input("celcius: "))

print("fahrenheit:", cel_to_fahr(temperature_celcius))

celcius:  100

fahrenheit: 212.0

# Data Type Checker

In [6]:
def type_checker(input_data):
    data_type = type(input_data).__name__
    return data_type

var1 = 138
var2 = 3.1416
var3 = "Hello, Python"
var4 = [2, "as", True, 52.0]

print(type_checker(var1))
print(type_checker(var2))
print(type_checker(var3))
print(type_checker(var4))

int
float
str
list

# String Palindrome

In [7]:
def is_palindrome(input_var):
    input_string = input_var.lower()
    reverse_string = input_string[::-1]
    if input_string == reverse_string:
        return "This is palindrome"
    else:
        return "This is not palindrome"

input_var =  input("input: ")
print(is_palindrome(input_var))

input_var =  input("input: ")
print(is_palindrome(input_var))

input:  racecar

This is palindrome

input:  palindrome

This is not palindrome

# String Reversal with Slicing

In [8]:
def str_reverse(input_str):
    reverse_str = input_str[::-1]
    return reverse_str

input_str = input("Input a string: ")
print(str_reverse(input_str))

Input a string:  Hello, World!

!dlroW ,olleH

# String Concatenation

In [9]:
first_name = input("First name: ")
last_name = input("Last name: ")

print(first_name, last_name)

First name:  Claire
Last name:  Redfield

Claire Redfield

# Typecasting Challenge

In [10]:
a = "100"
b = 25
c = "10.5"

a = int(a)
add = a + b
print(f"a + b = {add}")
c = float(c)
final = add - c
print(f"add - c = {final}")
print(final, "is the result")

a + b = 125
add - c = 114.5
114.5 is the result

#  Positive, Negative, or Zero

In [11]:
n = int(input("Input a number: "))

if n < 0:
    print(n, "is a negative value")

elif n > 0:
    print(n, "is a positive value")

else:
    print(n, "is zero")

Input a number:  45

45 is a positive value

# Largest of Three Numbers

In [12]:
a = 12
b = 10
c = 15

if a < b:
    if b > c:
        print(b, "is the biggest number among three.")
    else:
        print(c, "is the biggest number among three.")

elif a > b:
    if a > c:
        print(a, "is the biggest number.")
    else:
        print(c, "is the biggest number.")

else:
    print("Invalid number")

15 is the biggest number.

# Leap Year Checker

In [13]:
year = int(input())

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is  not a leap year")

 2023

2023 is  not a leap year

# Grades Classification

In [14]:
student_mark = int(input("marks: "))

if student_mark <= 100 and student_mark >= 90:
    print(student_mark, "Grade: A+")

elif student_mark <= 89 and student_mark >= 80:
    print(student_mark, "Grade: A")

elif student_mark <= 79 and student_mark >= 70:
    print(student_mark, "Grade: B")

elif student_mark <= 69 and student_mark >= 60:
    print(student_mark, "Grade: C")

else:
    print("Abba to me: Haramzada tui abar fail korsos? ðŸ¤¬")

marks:  53

Abba to me: Haramzada tui abar fail korsos? ðŸ¤¬

# Vowel or Consonant

In [15]:
input_char = input("alphabet: ")

if len(input_char) == 1 and (input_char == 'a' or input_char == 'e' or input_char == 'i' or input_char == 'o' or input_char == 'u'):
    print(input_char, "is a vowel")

elif len(input_char) > 1:
    print("Input a single alphabet")
    
else:
    print(input_char, "is a consonent")

alphabet:  y

y is a consonent

# Time Classification

In [18]:
import datetime
current_time = datetime.datetime.now()  

print(current_time.hour)

if current_time.hour >= 6 and current_time.hour < 12:
    print('Good mcurrent_timeorning')
    
elif current_time.hour >= 12 and current_time.hour < 15 :
    print('Good noon')
    
elif current_time.hour >= 15 and current_time.hour < 18 :
    print('Good evening')
    
elif current_time.hour >= 18 and current_time.hour < 20 :
    print('Good evening')
    
else:
    print("Good night")

0
Good night

#  Triangle Type Checker

In [20]:
x = int(input("x = "))
y = int(input("y = "))
z = int(input("z = "))

def triangle_type(x, y, z):

    if x == y == z:
        return "The triangle is equilateral"
        
    elif x == y or y == z or z == x:
        return "The triangle is isosceles"
        
    else:
        return "The triangle is scalene"

print(triangle_type(x, y, z))

x =  2
y =  2
z =  3

The triangle is isosceles

# Quadratic Equation Solver
The equation is:

ax2 + bx + c = 0, where

a, b and c are real numbers and 

a != 0

* formula: (-b Â± (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)a)
 0

In [21]:
# without implement of cmath library

a = int(input("a ="))
b = int(input("b ="))
c = int(input("c ="))

d = (b ** 2) - ((4 * a * c) ** 0.5)

solution1 = (-b - d)/(2*a)
solution2 = (-b + d)/(2*a)

print(f"The solution are {solution1} and {solution2}")

a = 3
b = 4
c = 5

The solution are -2.0423388845975277 and 0.7090055512641943

In [22]:
# with implement of cmath library
import cmath

a = int(input("a ="))
b = int(input("b ="))
c = int(input("c ="))

d = (b ** 2) - (4 * a * c)

solution1 = (-b - cmath.sqrt(d))/(2*a)
solution2 = (-b + cmath.sqrt(d))/(2*a)

print(f"The solution are {solution1} and {solution2}")

a = 3
b = 4
c = 5

The solution are (-0.6666666666666666-1.1055415967851332j) and (-0.6666666666666666+1.1055415967851332j)

In [23]:
n = int(input("number: "))

if n >= 0 and n <= 50:
    print(n, "ranges: 0 - 50")

elif n >= 51 and n <= 100:
    print(n, "ranges: 51 - 100")

elif n >= 101 and n <= 150:
    print(n, "ranges: 101 - 150")

else:
    if n > 150:
        print(n, "ranges: above 150")
    else:
        print(n, "ranges: negative")

number:  123

123 ranges: 101 - 150

# Number Ranges

# Sum of N Numbers

In [24]:
n = int(input("input:"))

sum = 0

for i in range (1, n+1, 1):
    sum = sum + i
    
print(sum)

input: 7

28

# Factorial Calculator

In [25]:
num = int(input("num:"))

i = 1
factorial = 1

while i <= num:
    factorial = factorial * i
    i = i + 1
    print(factorial)

num: 19

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000
20922789888000
355687428096000
6402373705728000
121645100408832000

# Table of a Number

In [26]:
n = int(input("Table of:"))

for i in range(1, 11, 1):
    print(f"{n} x {i} = {n*i}")

Table of: 16

16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

# Count Digits in a Number

In [27]:
n = int(input("n:"))

digit_count = 0

if n == 0:
    digit_coun = 1

while n != 0:
    n //= 10
    digit_count += 1
    
print("Number of digits in the input:", digit_count)

n: 567

Number of digits in the input: 3

# Fibonacci Sequence

In [28]:
N = int(input("Enter the limit for the Fibonacci sequence: "))
a, b = 0, 1
fibonacci_sequence = []

while a <= N:
    fibonacci_sequence.append(a)
    a, b = b, a + b

print("Fibonacci sequence up to the limit N:", fibonacci_sequence)

Enter the limit for the Fibonacci sequence:  5

Fibonacci sequence up to the limit N: [0, 1, 1, 2, 3, 5]

# Sum of Even Numbers

In [30]:
even_number = int(input())
n = 0
sum = 0
while n <= even_number:
    n += 1

    if n % 2 == 0:    
        sum = sum + n
        
print(sum)

 10

30

#  Print Patterns

In [31]:
# Function to print a right-angled triangle pattern
def print_right_angle_triangle(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=" ")
        print()

# Function to print an inverted right-angled triangle pattern
def print_inverted_right_angle_triangle(rows):
    for i in range(rows, 0, -1):
        for j in range(1, i + 1):
            print("*", end=" ")
        print()

# Function to print a pyramid pattern
def print_pyramid(rows):
    for i in range(1, rows + 1):
        print(" " * (rows - i) + "*" * (2 * i - 1))

# Function to print a diamond pattern
def print_diamond(rows):
    for i in range(1, rows + 1):
        print(" " * (rows - i) + "*" * (2 * i - 1))
    for i in range(rows - 1, 0, -1):
        print(" " * (rows - i) + "*" * (2 * i - 1))

# Input: Get the number of rows for the patterns
rows = int(input("Enter the number of rows: "))

print("Right-Angled Triangle:")
print_right_angle_triangle(rows)

print("\nInverted Right-Angled Triangle:")
print_inverted_right_angle_triangle(rows)

print("\nPyramid:")
print_pyramid(rows)

print("\nDiamond:")
print_diamond(rows)

Enter the number of rows:  5

Right-Angled Triangle:
*
* *
* * *
* * * *
* * * * *

Inverted Right-Angled Triangle:
* * * * *
* * * *
* * *
* *
*

Pyramid:
    *
   ***
  *****
 *******
*********

Diamond:
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# Prime Number Checker

In [33]:
num = int(input("input: "))

if num > 1:
    i = 2
    while i < num:
        if (num % i) == 0:
            print("This is not a prime number")
            break
        i += 1
    else:
        print("This is a prime number")

else:
    print("This is not a prime number")

input:  7

This is a prime number

# List Manipulation

In [34]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

calc = 0

for i in list:
    calc = calc + i

sum = calc
avg = calc / len(list)
max_val = max(list)
min_val = min(list)

print (sum)
print (avg)
print (max_val)
print (min_val)

55
5.5
10
1

#  Reverse String

In [35]:
string = input("Input:")

rev_str = ""
index = len(string) - 1

while index >= 0:
    rev_str += string[index]
    index -= 1

print(rev_str)

Input: Hello

olleH

# Multiplication Table

In [36]:
for i in range(1, 11):
    for j in range(1, 11):
        result = i * j
        print(f"{i} x {j} = {result}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Print Patterns

In [1]:
rows = int(input("Enter the number of row: "))

for i in range(1, rows + 1):
    for j in range(i, i + 1):
        print("*" * i, end = ' ')
    print()

Enter the number of row:  5

*
**
***
****
*****

# Matrix Multiplication

In [2]:
# Two matrices to multiply
matrix1 = [[1, 2], [3, 4]]
matrix2 = [[5, 6], [7, 8]]

# Perform matrix multiplication
result_matrix = [[0, 0], [0, 0]]

for i in range(len(matrix1)):
    for j in range(len(matrix2[0])):
        for k in range(len(matrix2)):
            result_matrix[i][j] += matrix1[i][k] * matrix2[k][j]

# Display the result
for row in result_matrix:
    print(row)

[19, 22]
[43, 50]

# Chessboard Pattern

In [3]:
rows = int(input("Enter the number of row: "))

for i in range(1, rows + 1):
    for j in range(i, i + 1):
        print(f"{j}" * i, end = ' ')
    print()

Enter the number of row:  5

1
22
333
4444
55555

# List Problems
* Sum
* Avg
* Min Max
* Sorting
* Filtering
* Reversal
* Manipulation
* Element Count
* List Duplicates Removal
* List Comprehension

In [4]:
list = [1, 3, 4, 2, 4, 5, 3, 8, 1, 9, 5, 6, 9, 7, 6, 8, 9, 10]

In [5]:
sum = 0
for i in list:
    sum = sum + i
    i += 1
print(f"sum = {sum}")

sum = 100

In [6]:
avg = sum / len(list)
print(f"avg = {avg}")

avg = 5.555555555555555

In [7]:
print(f"max = {max(list)}")
print(f"min = {min(list)}")

max = 10
min = 1

In [8]:
sorted_list = sorted(list)
print(f"sorting: {sorted_list}")

sorting: [1, 1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 9, 9, 10]

In [9]:
even_list = []

for i in list:
    num = i
    if num % 2 == 0:
        even_list.append(num)
print(even_list)

[4, 2, 4, 8, 6, 6, 8, 10]

In [10]:
resverse_list = []

for i in list:
    resverse_list.append(i)
    
print(list)
resverse_list = resverse_list[::-1]
print(resverse_list)

[1, 3, 4, 2, 4, 5, 3, 8, 1, 9, 5, 6, 9, 7, 6, 8, 9, 10]
[10, 9, 8, 6, 7, 9, 6, 5, 9, 1, 8, 3, 5, 4, 2, 4, 3, 1]

In [11]:
list_1 = [3, "a", 4.7, True, (1, "c"), [], {4, 3.14}]
list_2 = [8, "x", 2.5, False, (), [7, 9.89], {5, "b"}]

In [12]:
list_3 = list_1 + list_2
print(list_3)

[3, 'a', 4.7, True, (1, 'c'), [], {3.14, 4}, 8, 'x', 2.5, False, (), [7, 9.89], {'b', 5}]

In [13]:
list.count(9)

3

In [14]:
unique_list = []

for item in list:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 3, 4, 2, 5, 8, 9, 6, 7, 10]

In [15]:
new_list = [item ** 2 for item in unique_list]
print(new_list)

[1, 9, 16, 4, 25, 64, 81, 36, 49, 100]

# Nested List Problems

In [16]:
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]

if len(matrix1) == len(matrix2) and len(matrix1[0]) == len(matrix2[0]):
    result_matrix = [[matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))] for i in range(len(matrix1))]
    for row in result_matrix:
        print(row)
else:
    print("Matrices cannot be added due to incompatible dimensions.")

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [17]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [18]:
nested_list = [[1, 2, 3], [2, 3, 4, 4], [5, 6, 6]]

flat_list = [element for sublist in nested_list for element in sublist]

element_frequency = {}
for element in flat_list:
    if element in element_frequency:
        element_frequency[element] += 1
    else:
        element_frequency[element] = 1

for element, frequency in element_frequency.items():
    print(f"Element {element}: {frequency} times")

Element 1: 1 times
Element 2: 2 times
Element 3: 2 times
Element 4: 2 times
Element 5: 1 times
Element 6: 2 times

In [19]:
X = [[12,7], [4 ,5], [3 ,8]]
result = [[0,0,0], [0,0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

In [20]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

flat_list = [element for sublist in nested_list for element in sublist]

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8]

# Tuple Problems:

In [16]:
tuple_1 = (3, 5.6, True, "asad", {'x'})
tuple_2 = (4, 9.89, [False], (), "sohun")
tuple_3 = tuple_1 + tuple_2

print(tuple_3)

(3, 5.6, True, 'asad', {'x'}, 4, 9.89, [False], (), 'sohun')

In [17]:
var = ('x', 'y', 'z')
(a, b, c) = var
print(var)

('x', 'y', 'z')

In [18]:
tuple = (2, 8, 10, 3, 5, 9, 4, 1, 7, 6)
tuple_sorted = sorted(tuple)
print(tuple_sorted)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
given_tuple = (2, 4, 5, 3, 5, 1, 2, 1, 3, 4, 4, 2, 4, 5, 3, 5, 1, 1, 2, 4, 5, 1, 4, 3, 3, 5, 5, 5, 2, 2, 1, 1, 3, 4)
element_to_count = 5

frequency = given_tuple.count(element_to_count)
print(frequency)

8

In [20]:
def reverse_tuple(input_tuple):
    reversed_tuple = ()
    for item in input_tuple[::-1]:
        reversed_tuple += (item,)
    return reversed_tuple

sample_tuple = (1, 2, 3, 4, 5)

reversed_sample_tuple = reverse_tuple(sample_tuple)

print("Original tuple:", sample_tuple)
print("Reversed tuple:", reversed_sample_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

In [21]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

start_index = 2
end_index = 7

sliced_tuple = my_tuple[start_index:end_index]

print("Original Tuple:", my_tuple)
print("Sliced Tuple:", sliced_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Sliced Tuple: (3, 4, 5, 6, 7)

In [22]:
print(list(my_tuple))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple2 = (9, 8, 7, 6, 5, 4, 3, 2, 1)

add_tuple = tuple(x + y for x, y in zip(tuple1, tuple2))
sub_tuple = tuple(x - y for x, y in zip(tuple1, tuple2))
mul_tuple = tuple(x * y for x, y in zip(tuple1, tuple2))

print(add_tuple)
print(sub_tuple)
print(mul_tuple)

(10, 10, 10, 10, 10, 10, 10, 10, 10)
(-8, -6, -4, -2, 0, 2, 4, 6, 8)
(9, 16, 21, 24, 25, 24, 21, 16, 9)

In [26]:
var1 = 9.89
var2 = 138
var3 = "my nane"
var4 = True
var5 = ([5, 3], {"pie", 3.14})

packing_to_tuple = (var1, var2, var3, var4, var5)
print(packing_to_tuple)

(9.89, 138, 'my nane', True, ([5, 3], {3.14, 'pie'}))

# Set Problems

In [27]:
set1 = {2, 2, 5, 5, 9, 4, 6, 3}
set2 = {2, 4, 1, 8, 1, 2, 7, 3}

In [28]:
set1.intersection(set2)

{2, 3, 4}

In [29]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
set1.difference(set2)

{5, 6, 9}

In [31]:
set2.symmetric_difference(set1)

{1, 5, 6, 7, 8, 9}

In [32]:
A = {1, 3, 4, 6, 8, 10, 12, 13, 15}
B = {2, 4, 5, 7, 9, 10, 11, 12, 14}
C = {1, 5, 7, 8, 9, 11, 13, 14, 15}

print(A.intersection(B))
print(B.union(C))
print(C.difference(A))

{10, 4, 12}
{1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{5, 7, 9, 11, 14}

In [33]:
A = {1, 3, 4, 6, 8, 10, 12, 13, 15}
B = {2, 4, 5, 7, 9, 10, 11, 12, 14}

result = A.issubset(B)

if result:
    print("Set A is a subset of set B")
else:
    print("Set A is not a subset of set B")

# Alternatively, you can use the <= operator
# result = A <= B

Set A is not a subset of set B

In [34]:
A = {1, 3, 4, 6, 8, 10, 12, 13, 15}
B = {2, 4, 5, 7, 9, 10, 11, 12, 14}

result = A.issuperset(B)

if result:
    print("Set A is a superset of set B")
else:
    print("Set A is not a superset of set B")

# Alternatively, you can use the >= operator
# result = A >= B

Set A is not a superset of set B

In [35]:
print(len(set1))
print(len(set2))
print(len(A))
print(len(B))
print(len(C))

6
6
9
9
9

In [36]:
input_val = int(input("value:"))

if input_val in A: 
    print("Found")

else:
    print("Error 404")

value: 6

Found

# Dictionary Problems

In [4]:
student_scores = {
    "Fabian": 90,
    "Mim": 85,
    "Laura": 78,
    "Shegufta": 92,
    "Charlie": 82,
    "Sadia": 86,
    "Asad": 90,
}

student_name = input("Enter the student's name: ")
new_score = int(input("Enter the new score: "))

student_scores[student_name] = new_score

print("Updated Student Scores:")
for student, score in student_scores.items():
    print(f"{student}: {score}")

Enter the student's name:  Sohun
Enter the new score:  90

Updated Student Scores:
Fabian: 90
Mim: 85
Laura: 78
Shegufta: 92
Charlie: 82
Sadia: 86
Asad: 90
Sohun: 90

In [5]:
for key, value in student_scores.items():
    print("key:", key)
    print("value:", value)
    print("-----------------")

key: Fabian
value: 90
-----------------
key: Mim
value: 85
-----------------
key: Laura
value: 78
-----------------
key: Shegufta
value: 92
-----------------
key: Charlie
value: 82
-----------------
key: Sadia
value: 86
-----------------
key: Asad
value: 90
-----------------
key: Sohun
value: 90
-----------------

In [6]:
print("length:", len(student_scores))

length: 8

In [8]:
food_items = {
    "pizza": 12.99,
    "burger": 7.49,
    "fries": 3.99,
    "salad": 6.99,
    "soda": 1.99,
    "spaghetti": 10.99,
    "sandwich": 8.99,
    "chicken wings": 9.99,
    "tacos": 7.99,
    "ice cream": 4.49,
    "steak": 15.99,
    "pancakes": 5.99,
    "sushi": 14.99,
    "hot dog": 2.49,
    "shrimp scampi": 11.99,
    "mac and cheese": 6.49,
    "chicken tenders": 7.99,
    "nachos": 8.49,
    "lobster": 19.99,
    "milkshake": 3.49,
}

searched_price =  float(input("Price:"))

found = False

for key, value in food_items.items():

    if searched_price == value:
        print(f"Item found: {key}: ${value}")
        found = True
        break
if not found:
    print("Not found")

Price: 4.49

Item found: ice cream: $4.49

In [9]:
countries1 = {
    "country1": "USA",
    "country2": "Canada",
    "country3": "United Kingdom",
    "country4": "France",
    "country5": "Germany",
}

# Dictionary 2: More Names of Western Countries
countries2 = {
    "country6": "Italy",
    "country7": "Spain",
    "country8": "Australia",
    "country9": "Netherlands",
    "country10": "Sweden",
}


merged_countries = countries1.copy()
merged_countries.update(countries2)

print(merged_countries)

{'country1': 'USA', 'country2': 'Canada', 'country3': 'United Kingdom', 'country4': 'France', 'country5': 'Germany', 'country6': 'Italy', 'country7': 'Spain', 'country8': 'Australia', 'country9': 'Netherlands', 'country10': 'Sweden'}

In [10]:
deleted_items = input("to delete: ")

if deleted_items in food_items:
    
    del food_items[deleted_items]
    print(f"{deleted_items} has been removed from the dictionary.")
    
else:
    
    print(f"{deleted_items} was not found in the dictionary.")

print("Updated dictionary of items:", food_items)

to delete:  fries

fries has been removed from the dictionary.
Updated dictionary of items: {'pizza': 12.99, 'burger': 7.49, 'salad': 6.99, 'soda': 1.99, 'spaghetti': 10.99, 'sandwich': 8.99, 'chicken wings': 9.99, 'tacos': 7.99, 'ice cream': 4.49, 'steak': 15.99, 'pancakes': 5.99, 'sushi': 14.99, 'hot dog': 2.49, 'shrimp scampi': 11.99, 'mac and cheese': 6.49, 'chicken tenders': 7.99, 'nachos': 8.49, 'lobster': 19.99, 'milkshake': 3.49}

In [11]:
ages = {
    "Alice": 25,
    "Bob": 30,
    "Charlie": 20,
    "David": 35,
    "Eve": 28,
}

sorted_ages = dict(sorted(ages.items(), key=lambda item: item[1]))

print("Sorted dictionary based on age (ascending):")
for name, age in sorted_ages.items():
    print(f"{name}: {age}")

Sorted dictionary based on age (ascending):
Charlie: 20
Alice: 25
Eve: 28
Bob: 30
David: 35

In [12]:
input_string = input("Enter a string: ")

char_frequency = {}

for char in input_string:
    
    if char in char_frequency:
        char_frequency[char] += 1
        
    else:
        char_frequency[char] = 1

print("Character frequencies:")

for char, frequency in char_frequency.items():
    print(f"{char}: {frequency}")

Enter a string:  asad

Character frequencies:
a: 2
s: 1
d: 1

In [13]:
my_dict = {
    "apple": 3,
    "banana": 5,
    "cherry": 2,
    "date": 1,
}

key_to_check = input("Enter the key to check: ")

if key_to_check in my_dict:
    print("Key Found")
else:
    print("Key Not Found")

Enter the key to check:  date

Key Found

In [14]:
student_details = {
    "student1": {
        "name": "Asad",
        "age": 18,
        "address": "123 Main St",
    },
    "student2": {
        "name": "Zaman",
        "age": 19,
        "address": "456 Elm St",
    },
    "student3": {
        "name": "Sohun",
        "age": 17,
        "address": "789 Oak St",
    },
}

student_name = student_details["student1"]["name"]
student_age = student_details["student1"]["age"]
student_address = student_details["student1"]["address"]

print(f"Student Name: {student_name}")
print(f"Student Age: {student_age}")
print(f"Student Address: {student_address}")

Student Name: Asad
Student Age: 18
Student Address: 123 Main St

In [15]:
nested_dict = {
    "person1": {
        "name": "John",
        "age": 30,
        "city": "New York",
    },
    "person2": {
        "name": "Alice",
        "age": 25,
        "city": "Los Angeles",
    },
    "person3": {
        "name": "Bob",
        "age": 28,
        "city": "Chicago",
    },
}

total_pairs = sum(len(inner_dict) for inner_dict in nested_dict.values())

print(f"Total number of key-value pairs in the nested dictionary: {total_pairs}")

Total number of key-value pairs in the nested dictionary: 9

In [17]:
employee_details = {
    101: {"name": "Asad", "salary": 50000},
    102: {"name": "Zaman", "salary": 60000},
    103: {"name": "Sohun", "salary": 55000},
    104: {"name": "Fabian", "salary": 48000},
    105: {"name": "Dina", "salary": 52000},
    106: {"name": "Sumaiya", "salary": 53000},
    107: {"name": "CLark", "salary": 55000},
    108: {"name": "Sanjida", "salary": 59000},
    109: {"name": "Sabah", "salary": 61000},
    110: {"name": "Selen", "salary": 62000},
}

employee_id = int(input("Enter the employee ID to update salary: "))
new_salary = float(input("Enter the new salary: "))

if employee_id in employee_details:
    employee_details[employee_id]["salary"] = new_salary
    print(f"Updated salary for employee {employee_id} to {new_salary}")
else:
    print(f"Employee not found")

print("Updated employee details:")
for emp_id, emp_info in employee_details.items():
    print(f"Employee ID: {emp_id}, Name: {emp_info['name']}, Salary: {emp_info['salary']}")

Enter the employee ID to update salary:  105
Enter the new salary:  55000

Updated salary for employee 105 to 55000.0
Updated employee details:
Employee ID: 101, Name: Asad, Salary: 50000
Employee ID: 102, Name: Zaman, Salary: 60000
Employee ID: 103, Name: Sohun, Salary: 55000
Employee ID: 104, Name: Fabian, Salary: 48000
Employee ID: 105, Name: Dina, Salary: 55000.0
Employee ID: 106, Name: Sumaiya, Salary: 53000
Employee ID: 107, Name: CLark, Salary: 55000
Employee ID: 108, Name: Sanjida, Salary: 59000
Employee ID: 109, Name: Sabah, Salary: 61000
Employee ID: 110, Name: Selen, Salary: 62000

In [18]:
product_details = {
    "product1": {"name": "Laptop", "price": 800.0, "quantity": 5},
    "product2": {"name": "Smartphone", "price": 400.0, "quantity": 10},
    "product3": {"name": "Tablet", "price": 300.0, "quantity": 8},
    "product4": {"name": "Monitor", "price": 200.0, "quantity": 15},
}

sorted_products = dict(sorted(product_details.items(), key=lambda item: item[1]["price"]))

print("Products sorted by price (ascending):")
for product_id, product_info in sorted_products.items():
    print(f"Product ID: {product_id}")
    print(f"Name: {product_info['name']}")
    print(f"Price: {product_info['price']}")
    print(f"Quantity: {product_info['quantity']}")
    print()

Products sorted by price (ascending):
Product ID: product4
Name: Monitor
Price: 200.0
Quantity: 15

Product ID: product3
Name: Tablet
Price: 300.0
Quantity: 8

Product ID: product2
Name: Smartphone
Price: 400.0
Quantity: 10

Product ID: product1
Name: Laptop
Price: 800.0
Quantity: 5

In [20]:
persons = {
    "person1": {"name": "Zaman", "age": 30, "city": "New York"},
    "person2": {"name": "Sohun", "age": 25, "city": "Los Angeles"},
    "person3": {"name": "Fabian", "age": 28, "city": "Chicago"},
    "person4": {"name": "Dina", "age": 35, "city": "San Francisco"},
    "person5": {"name": "Sumaiya", "age": 22, "city": "Seattle"},
    "person6": {"name": "CLark", "age": 27, "city": "Miami"},
    "person7": {"name": "Sanjida", "age": 40, "city": "Denver"},
    "person8": {"name": "Sabah", "age": 33, "city": "Boston"},
    "person9": {"name": "Selen", "age": 29, "city": "Austin"},
    "person10": {"name": "Kevin", "age": 31, "city": "Phoenix"},
}

search_person = input("Enter the person (person1 to person10) to retrieve their details: ")

if search_person in persons:
    person_details = persons[search_person]
    print(f"Details of {search_person}:")
    for key, value in person_details.items():
        print(f"{key}: {value}")
else:
    print("Person Not Found")

Enter the person (person1 to person10) to retrieve their details:  person5

Details of person5:
name: Sumaiya
age: 22
city: Seattle

# Break & Continue:

In [21]:
num = int(input())
for i in range(2, num):
    if num % i == 0:
        print("Not prime")
        break
else:
    print("Prime")

 5

Prime

In [22]:
for num in range(1, 21):
    if num % 2 != 0:
        continue
    print(num)

2
4
6
8
10
12
14
16
18
20

In [23]:
while True:
    password = input("Enter a password: ")
    if len(password) < 8 or not any(char.isupper() for char in password) or not any(char.islower() for char in password) or not any(char.isdigit() for char in password):
        continue
    print("Password accepted.")
    break

Enter a password:  23Dg%wd
Enter a password:  213jsah^&GSH

Password accepted.

In [24]:
for num in range(1, 51):
    if num % 3 != 0 and num % 5 != 0:
        continue
    print(num)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

In [26]:
total = 0
while True:
    num = int(input("Enter a positive number: "))
    if num < 0:
        break
    total += num
print("Sum of positive numbers:", total)

Enter a positive number:  2
Enter a positive number:  3
Enter a positive number:  4
Enter a positive number:  56
Enter a positive number:  -9

Sum of positive numbers: 65

In [27]:
word = input("Enter a word: ")
if len(word) < 3:
    print("Word is too short.")
    exit()
if word == word[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a word:  do it

Not a palindrome

In [28]:
numbers = [2, 4, 6, 8, 9, 10]
for num in numbers:
    if num % 2 != 0:
        print(num)
        break

9

In [29]:
import random

target = random.randint(1, 10)
while True:
    guess = int(input("Guess the number (1-10): "))
    if guess == target:
        print("Congratulations! You guessed the correct number.")
        break
    else:
        continue

Guess the number (1-100):  77
Guess the number (1-100):  34
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  3
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  2
Guess the number (1-100):  23
Guess the number (1-100):  4
Guess the number (1-100):  5
Guess the number (1-100):  6
Guess the number (1-100):  7

Congratulations! You guessed the correct number.

In [31]:
text = input("Enter a string: ")
count = 0
for char in text:
    if char.lower() in "aeiou":
        count += 1
print("Number of vowels:", count)

Enter a string:  asad

Number of vowels: 2

In [32]:
text = input("Enter a string: ")
for char in text:
    if text.count(char) > 1:
        print("Not all characters are unique.")
        break
else:
    print("All characters are unique.")

Enter a string:  asad

Not all characters are unique.

# Functions Problems:

In [33]:
def factorial(n):
    if n == 0:
        return 1
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(factorial(10))

3628800

In [34]:
def is_palindrome(word):
    return word == word[::-1]

print(is_palindrome("radar"))

True

In [35]:
def even_or_odd(num):
    return "Even" if num % 2 == 0 else "Odd"

print(even_or_odd(7))

Odd

In [36]:
def list_sum(nums):
    return sum(nums)

print(list_sum([1, 2, 3, 4, 5]))

15

In [37]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(24, 36))

12

In [38]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

print(is_leap_year(2020))

True

# Nested Functions Problems:

In [39]:
def math_operations(num1, num2, num3, operation):
    if operation == 'add':
        return num1 + num2 + num3
    elif operation == 'subtract':
        return num1 - num2 - num3
    elif operation == 'multiply':
        return num1 * num2 * num3
    elif operation == 'divide':
        return num1 / num2 / num3

result = math_operations(10, 5, 2, 'add')
print(result)

17

In [40]:
def greeting_generator(name):
    def custom_greeting(message):
        return f"Hello, {name}! {message}"

    return custom_greeting

generate_greeting = greeting_generator("Sohun")
greeting = generate_greeting("How are you today?")
print(greeting)

Hello, Sohun! How are you today?

In [41]:
def temperature_converter(temp, scale):
    def celsius_to_fahrenheit(celsius):
        return celsius * 9/5 + 32

    def fahrenheit_to_celsius(fahrenheit):
        return (fahrenheit - 32) * 5/9

    if scale == 'C':
        converted_temp = celsius_to_fahrenheit(temp)
        print(converted_temp)
    elif scale == 'F':
        converted_temp = fahrenheit_to_celsius(temp)
        print(converted_temp)

temperature_converter(32, 'C')

89.6

# Recursion

In [42]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120

In [43]:
def Fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return Fibonacci(n - 1) + Fibonacci(n - 2)

print(Fibonacci(7))

13

In [44]:
def binary_search(arr, target, left=0, right=None):
    if right is None:
        right = len(arr) - 1
    if left > right:
        return -1

    mid = (left + right) // 2

    if arr[mid] == target:
        return mid
    elif arr[mid] < target:
        return binary_search(arr, target, mid + 1, right)
    else:
        return binary_search(arr, target, left, mid - 1)

arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target = 5
print(binary_search(arr, target))

4

In [45]:
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)

print(power(2, 3))

8